@model IEnumerable<RadicalMotor.Models.Vehicle>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-area="Admin" asp-controller="Vehicle" asp-action="Create" class="btn btn-success btn-sm">Create</a>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().ChassisNumber)</th>
                <th>Image</th>
                <th>@Html.DisplayNameFor(model => model.First().VehicleName)</th>
                <th>@Html.DisplayNameFor(model => model.First().VehicleType.TypeName)</th>
                <th>@Html.DisplayNameFor(model => model.First().Version)</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ChassisNumber)</td>
                        <td>
                            @foreach (var imageUrl in item.VehicleImages?.Select(img => img.ImageUrl) ?? new List<string>())
                            {
                                <img style="max-width: 10rem;" src="@imageUrl" alt="Image">
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.VehicleName)</td>
                        <td>@Html.DisplayFor(modelItem => item.VehicleType.TypeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Version)</td>
                        <td>@Html.DisplayFor(modelItem => item.PriceList.Price)</td>
                        <td>
                            <a style="text-decoration: none;" href="@Url.Action("Edit", "Product", new { id = item.ChassisNumber })">
                                <i class="fa fa-edit btn btn-info btn-sm"></i>
                            </a>
                            <a style="text-decoration: none;" href="Admin/Detail/@item.ChassisNumber">
                                <i class="btn btn-warning btn-sm">Details</i>
                            </a>
                            <a href="@Url.Action("Delete", "Product", new { id = item.ChassisNumber })">
                                <i class="btn btn-danger btn-sm">Delete</i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
